/* Write your styles */
body {
  background-color: #F4F4F4;
  overflow: hidden;
}

.am-navbar-green {
  background-color: #FAFAFA;
}
.am-navbar-green a {
  color:#777;
}
.am-navbar-green a.active {
  color:#4caf50;
}
.list-item {
  background-color: #fff;
  padding-top: 5px;
  padding-left: 0px;
  padding-right: 0px;
  padding-bottom: 5px;
  border-top: 1px solid #e6e6e6;
  border-bottom: 1px solid #e6e6e6;
}
.img_avatar {
  padding-left: 12px;
  padding-top: 5px;
  padding-right: 0px;
}
.container {
  padding-bottom: 10px!important;
  margin-top: -1px;
  min-height: 95vh;
  min-height: calc(100vh - 50px);
}
.am-divider-default {
  border-top: 1px solid #e6e6e6;
}
.am-text-gray {
  color: #999999;
}
.am-text-block {
  color: #333;
}
.am-scrollable-vertical {
  resize: none;
}
.am-slider-desc {
  background-color: rgba(0,0,0,.6);
  position: absolute;
  bottom: 0px;
  padding: 5px 8px 5px 8px;
  width: 100%;
  color: #fff;
  display: block;
  word-wrap: normal;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden
}
.am-slider-desc.title {
  bottom: 29px;
  padding-bottom: 0px;
}
@media only screen and (min-width: 641px) {
  #index .list-item:nth-child(odd){
    border-right: 1px solid #ddd;
  }
}